section
  h1= title
  h2= author
  img.logo(src='img/logo.png')
section
  section
    h2 What I do
  section
    h2 USDL technologists
section
  section
    h2 The idea
  section
    h2 The right questions
  section
    h2 Thinking like a machine
  section
    h2 Iterative development
section
  h2 Why local micro-business?
section
  h1 Fin
