section
  h1= title
  h2.author= author
  img.logo(src='img/logo.png')
section
  section
    h2 What I do
    img.featured(src='img/tech.svg')
    aside.notes
      p Full-stack software developer - building bits of the internet.
      p "Helping startups get started" - you have the idea, the money and the expertise, I'll bring the tech.
      p What I build are apps - strictly speaking - and not websites.
  section
    h2 USDL technologists
    img.featured(src='img/technologists.svg')
section
  section
    h2 The idea
    img.featured(src='img/idea.png')
  section
    h2 The right questions
    img.featured(src='img/detective.svg')
  section
    h2 Thinking like a machine
    img.featured(src='img/brain.svg')
  section
    h2 Iterative development
    img.featured(src='img/iterative.svg')
section
  h2 Why local micro-business?
  img.featured.borderless(src='img/leeds.svg')
  aside.notes
    ul
      li We care about the city.
      li We are engaged and responsive.
      li We have communities, like Duke Studios.
section
  img.logo(src='img/logo.png')
  p https://www.fishpercolator.co.uk/
  p @fishpercolator
